body{
  background-color: white;
  border: 10px double grey;
  padding: 30px;
  background-color: #f2f2f2;
  margin:50px;
  text-align: center;
}
img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
h1{
  color: pink;
  font-size: 80px;
}
h4{
  color: red;
  font-size: 20px;
  padding-bottom: 15px;
}
.button{
  cursor: pointer;
  background-color: pink;
  border-radius: 15px;
  width: 70px;
  height: 30px;
  position: relative;
  animation-name: PLTpinkflash;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  color: white;
}
#rulesButton{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 15px;
}
#submitButton{
  width: 75px;
  height: 18px;
}
.respArea{
  border: 3px solid black;
  background-color: #d2d2d2;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width:75%;
  height:75px;
}


/* pig parts */

.pig:hover{
  animation-name: pigshake;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.pighead{
  height:300px;
  width:300px;
  position: relative;
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  border-radius: 40%;
  margin-top: 50px;
}
.pig-color{
  background-color: pink;
}
.ear{
  width: 100px;
  height: 200px;
  position: absolute;
}
.earL{
  margin-left: 20px;
  margin-bottom: 50px;
  border-radius: 80% 40%;
  transform: rotate(-30deg);
}
.earR{
  margin-left: 170px;
  border-radius: 40% 80%;
  transform: rotate(30deg);
}
.earHole{
  background-color: black;
  position: absolute;
  height: 80px;
  width: 75px;
  margin-top: 30px;
}
.earHoleL{
  transform: rotate(-30deg);
  border-radius: 80% 40%;
  margin-left: 20px;
}
.earHoleR{
  transform: rotate(30deg);
  border-radius: 40% 80%;
  margin-left: 10px;
}
.eye{
  position: absolute;
  height: 65px;
  width: 65px;
  background-color: white;
  margin-top: 50px;
  border-radius: 30%;
}
.eyeL{
  margin-left: 60px;
}
.eyeR{
  margin-left: 160px;
}
.pupil{
  height: 30px;
  width: 30px;
  background-color: black;
  position: absolute;
  border-radius: 30%;
  top: 20;
  left: 20px;
}
.eyePupL{

}
.eyePupR{

}

.nose{
  position: absolute;
  height: 100px;
  width: 120px;
  background-color: #ff80bf;
  display: flex;
  margin-left: 75px;
  margin-top: 150px;
  border-radius: 50%;
}
.nostril{
  background-color: black;
  height: 20px;
  width: 15px;
  position: absolute;
  border-radius: 50%;
}
.nostrilL{
  margin-top: 35px;
  margin-left: 30px;
}
.nostrilR{
  margin-left: 65px;
  margin-top: 35px;
}

/* animations */
/* pig hover animation */
@keyframes pigshake {
  0% {transform: rotate(0deg);}
  25%{transform: rotate(5deg);}
  50% {transform: rotate(0deg -5deg);}
  75% {transform: rotate(5deg);}
  100% {transform: rotate(0deg);}
}
@keyframes PLTpinkflash {
  0% {background-color: pink;}
  50% {background-color: white; color:black;}
  100% {background-color: pink;}
}
